@tailwind base;
@tailwind components;
@tailwind utilities;

.example::-webkit-scrollbar {
    display: none;
}
.example2 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*{
    transition: 100ms;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img-wrap{
    shape-outside: square;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.font-color-orange{
    color: #ff4d06;
}

.font-color-gray{
    color: #161616;
}

.b-border-orange{
    border-bottom: solid 4px #ff4d06;
}

.border-custom{
    border-bottom: solid 1px #fff;
}

.b-border-gray{
    border-bottom: solid 4px #161616;
}


.darkbg{
    background-color: #090909;
}

.greybg{
    background-color: #161616;
}

.orangebg{
    background-color: #ff4d06;
}

.text-xxs{
    font-size: 0.50rem;
    line-height: 0.50rem;
}